.ant-form.filter {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.filter__search-sort {
    justify-content: space-between;
}


.ant-form-item.filter__search {
    margin-bottom: 0;
}

.filter__search-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    flex: 1;
}

.filter__search-input-wrapper input {
    border: none;
    outline: none;
    width: 100%;
    flex: 1;
}

.filter__select-order__control {
    width: 300px;
}

.filter__sort-gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.filter__sort-gender-submit {
    margin-top: 25px;
}

.ant-form-item.filter__select-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
}

.ant-form-item.filter__select-wrapper .ant-form-item-row {
    width: 100%;
}

.ant-col.filter__submit-wrapper {
    flex-basis: auto;
}

.ant-col.filter__submit-wrapper .filter__submit {
    padding: 5px 50px;
}